@using TestBlazorhart.Data


@inject ResultService ResultService

<h3>ExternalLinksComponent</h3>


<div class="container">
    <table>
        @if (noOfRows != 0)
        {
            @for (int i = 0; i < noOfRows; i++)
            {
                <tr>
                    @for (int j = 0; j < 4; j++)
                    {
                        <td>@strings[i * 4 + j]</td>
                    }
                </tr>
            }
        }
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label>Select date: </label>
            <EditForm Model="@_Date">
                <InputDate @bind-Value="_Date.dateTime" class="form-control" />
            </EditForm>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button @onclick="GetData" @onclick:preventDefault>Get data</button>
        </div>
    </div>


</div>
@code {
    [Parameter] public int index { get; set; } // index of the link
    public string message = "";
    string[] strings = new string[10];
    int noOfRows;// round ceiling

    TimeSelected _Date { get; set; } = new TimeSelected();


    public async Task GetData()
    {
        var newTime = new DateTime(_Date.dateTime.Year, _Date.dateTime.Month, _Date.dateTime.Day, 0, 0, 0);
        await ResultService.GetLinksFromUrl(index, newTime);
        strings = ResultService.resultsFromCraler.ToArray();
        noOfRows = (int)Math.Ceiling((decimal)(strings.Length / 4));
    }

    public class TimeSelected
    {
        public DateTime dateTime { get; set; } = DateTime.Now;
    }
}
