@using TestBlazorhart.Data
@inject ResultService ResultService
@inject NavigationManager NavManager



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" id="items">
            @result.Title
            <br />
            <a href="@result.Link" target="_blank">@result.Link</a>
            <br />
            @result.Snippet
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary myButton" @onclick="viewLinkPositions" >Rankings</button>
        </div>
    </div>
</div>



@code {
    [Parameter] public Result result { get; set; }

    private void viewLinkPositions()
    {
        string baseAddress = NavManager.BaseUri;
        NavManager.NavigateTo($"{baseAddress}/Rankings/{result.blazorIndex}", false);
    }
}

<style>
    #items {
        display: block;
        width: 500px;
        height: auto;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }

    .myButton {
        width: auto;
        min-width: 25%;
        height: 30px;
        margin-top: 5px;
        box-shadow: 3px 4px 7px 0px #718a6a;
        background: linear-gradient(to bottom, #586be8 5%, #5aa1e0 100%);
        background-color: #586be8;
        border-radius: 28px;
        border: 1px solid #4e86cc;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        text-decoration: none;
        text-shadow: 0px 0px 0px #2f6627;
    }
</style>